@font-face
{
    font-family: LatoRegular;
    src: url('../css/lato/Lato-Regular.ttf');
}
@font-face
{
    font-family: LatoBold;
    src: url('../css/lato/Lato-Bold.ttf');
}
::-webkit-input-placeholder { color:#364271; }
::-moz-placeholder { color:#364271; } /* firefox 19+ */
:-ms-input-placeholder { color:#364271; } /* ie */
input:-moz-placeholder { color:#364271; }

body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt LatoRegular,Arial,Helvetica,sans-serif;
    background: #EFEFEF;
}

#page
{
    padding: 0 0 20px 0;
    background: #2b3043;
}
#page .date
{
    height: 84px;
    width: 323px;
    padding: 13px 20px 0 0;
    background: black;
    color: WHITE;
    position: relative; 
}
#page ul
{
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
}
#page ul li
{
    float: right;
    margin: 0 0 0 20px;
    cursor: pointer;
}
#page .logo
{
    width: 380px;
    float: left;
}
#page .banner
{
    width: 570px;
    float: right;
    text-align: right;
}
#page .banner img
{
    border: 6px solid white;
}
#page .container{
    padding: 0 0 10px 0;
}
#page .body-middle{
    color: #cae7f9;
    text-align: center;
    font-size: 36px;
    font-family: "impact";
    margin: 25px 0 0 0;
    padding: 20px 0;
    border-bottom: 1px solid #cae7f9;
    border-top: 1px solid #cae7f9;
    line-height: 35px;
}
#page .forum, #page .event{
    width: 445px;
    margin: 25px 0 0 0;
}
#page .title{
    width: 256px;
    height: 34px;
    float: left;
    background: #1b1f30;
    margin: 1px 0 0 0;
    font-size: 18px;
    color: white;
    padding: 10px 20px 0 ;
    position: relative;
}
#page .slide a{
    width: 444px;
    height: 244px;
    float: left;
    position: relative;
}
#page .slide a img{
    width: 444px;
    height: 244px;
}
#page .slide a .overlay{
    width: 384px;
    height: 244px;
    float: left;
    top: 0;
    position: absolute;
    background: url('../images/overlay_03.png');
    color: black;
    text-align: center;
    padding: 0 30px;
    font-size: 14px;
}
#page .slide a .overlay .desc{
    width: 384px;
    height: 244px;
    color: black;
    text-align: center;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
}
#header
{
    margin: 0;
    padding: 18px 0;
    background: #151e40;
    border-bottom: 3px solid #f5eb28;
}
#header .search{
    background: url('../images/search.png') no-repeat right;
    color: white;
    border: none;
    border-bottom: 2px solid #364271;
    font-style: italic;
    padding-right: 20px;
}
#header .right{
    margin: 0 0 0 30px;
}
#header .right.flag{
    margin: 2px 0 0 30px;
}
#content
{
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#mainmenu
{
    float: left;
}

#mainmenu ul
{
    padding:6px 0px 5px 0px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
    margin: 0 15px 0 0;
}

#mainmenu ul li a
{
    color:white;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    font: normal 10pt LatoRegular,Arial,Helvetica,sans-serif;
    text-decoration:none;
    padding:5px 0px;
    text-transform: uppercase;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color:#f5eb28;
    text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}