@font-face
{
    font-family: LatoRegular;
    src: url('../css/lato/Lato-Regular.ttf');
}
@font-face
{
    font-family: LatoBold;
    src: url('../css/lato/Lato-Bold.ttf');
}
::-webkit-input-placeholder { color:#364271; }
::-moz-placeholder { color:#364271; } /* firefox 19+ */
:-ms-input-placeholder { color:#364271; } /* ie */
input:-moz-placeholder { color:#364271; }

body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt LatoRegular,Arial,Helvetica,sans-serif;
    background: #EFEFEF;
}

#page
{
    padding: 0 0 20px 0;
    background: url('../images/bg.jpg');
}
#header
{
    margin: 0;
    padding: 18px 0;
    background: #151e40;
    border-bottom: 3px solid #f5eb28;
}
#header .search{
    background: url('../images/search.png') no-repeat right;
    color: white;
    border: none;
    border-bottom: 2px solid #364271;
    font-style: italic;
    padding-right: 20px;
}
#header .right{
    margin: 0 0 0 30px;
}
#header .right.flag{
    margin: 2px 0 0 30px;
}
#header .container
{
    position: relative;
}
#header .container .logo
{
    float: left;
    top: -10px;
    position: absolute;
}
#sidebar
{
    padding: 20px 20px 20px 0;
}
#client{
    background: #d4d4d4;
    padding: 30px 0;
}
#client a{
    padding: 0 15px;
}
#footer
{
    background: black;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
    color: white;
    padding: 16px 0;
}
#footer span
{
    color: #e7de2a;
}

#mainmenu
{
    float: left;
    margin: 0 0 0 150px;
}

#mainmenu ul
{
    padding:6px 0px 5px 0px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
    margin: 0 15px 0 0;
}

#mainmenu ul li a
{
    color:white;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    font: normal 10pt LatoRegular,Arial,Helvetica,sans-serif;
    text-decoration:none;
    padding:5px 0px;
    text-transform: uppercase;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color:#f5eb28;
    text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}
.yellow{
    color: #e7de2a;
}
.sidebar{
    width: 256px;
}
.content{
    width: 642px;
}
.content h1{
    color: white;
    font-size: 24px;
    border-top: 2px solid #929292;
    padding-top: 13px;
    margin: 0 0 57px 0;
}
.sidebar h2{
    color: white;
    margin: -7px 0 15px 0;
    font-size: 18px;
}
.sidebar .forum-bisnis{
    margin: 0px 0 0px 0;
    padding: 0 0 40px 15px;
    list-style-image: url('../images/list_03.png');
}
.sidebar .forum-bisnis li{
    margin: 0px 0 15px 0;
}
.sidebar .forum-bisnis li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.sidebar form .row input{
    width: 100%;
    border-top: none;
    border-right: none;
} 
.sidebar form .row textArea{
    width: 100%;
    border-top: none;
    border-right: none;
} 
.sidebar form .row.buttons input{
    width: 100px;
    height: 30px;
    border: none;
    background: #b80000;
    color: white;
    cursor: pointer;
} 
.sidebar form .row.buttons input:active{
    padding: 5px 19px;
    width: 100px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
} 
.sidebar form .row a{
    color: white;
    margin: 0 0 0 10px;
} 
/*forum bisnis page*/
.forum-list{
    float: left;
    margin: 0 0 45px 0;
}
.forum-list .title{
    float: left;
    width: 377px;
    height: 78px;
    padding: 26px 20px 0 ;
    font-size: 20px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.forum-list .img{
    float: left;
    width: 225px;
    height: 104px;
}
/*forum bisnis page end*/
/*forum bisnis detail page*/
.forum-detail img{
    float: left;
    border: 5px solid white;
    margin: 0 0 34px 0;
}
.forum-detail .list{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%
}
.forum-detail .list li{
    background: #d2232a;
    padding: 11px 0px;
    font-size: 14px;
    color: white;
    margin: 0 0 21px 0;
    float: left;
    width: 100%;
    text-align: center;
}
/*forum bisnis detail page end*/
/*pameran page*/
.pameran{
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
}
.pameran .paging{
    color: white;
    text-align: center;
}
.pameran img{
    float: left;
    border: 3px solid white;
    margin: 0 0 49px 0;
}
.pameran .list{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 105%
}
.pameran .list li{
    margin: 0 15px 15px 0;
    float: left;
    width: 202px;
    height:136px;
}
.pameran .list li img{
    width: 202px;
    height:136px;
}
/*forum bisnis detail page end*/
div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
    margin: 0 0 0 130px;
    padding-top: 47px;
    padding-bottom: 20px;
    text-decoration: none;
    color: white;
}
div.breadcrumbs a
{
    text-decoration: none;
    color: #e7de2a;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}